/* body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: cornsilk;
  background-image: url(https://image.freepik.com/foto-gratis/vista-aerea-libro-rosa_23-2148213923.jpg);
  background-repeat: no-repeat;
  background-position: right;
  background-position-y: top;
} */

@font-face {
  font-family: fuenteTitulos;
  src: url(fuentes/Cabin-Italic.ttf);
}

@font-face {
  font-family: fuenteParrafos;
  src: url(fuentes/FiraCode-Regular.otf);
}

h1,
h2 {
  color: green;
  font-family: fuenteTitulos;
}

p {
  color: darkslategrey;
  line-height: 1.5em;
  /* 1em aprox es 16 px */
}

ol,
p {
  font-family: fuenteParrafos;
  font-size: 20px;
}

img {
  border: 2px solid green
}

.resaltar {
  /* font-style: italic;
  font-weight: bold; */
  color: rebeccapurple;
}

a {
  text-decoration: none;
}

a:link {
  color: red;
}

a:visited {
  color: yellowgreen;
}

a:focus {
  border: 1px dotted darkslategray;
}

a:hover {
  text-decoration: underline;
}

ul {
  list-style-type: square;
}

ol {
  list-style-type: lower-roman;
}