/* body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: cornsilk;
  background-repeat: no-repeat;
  background-position: right;
  background-position-y: top;
} */

/* -- General */
body {
  background-image: url('./../images/fondo.jpg');
}

@font-face {
  font-family: fuenteTitulos;
  src        : url(fuentes/Cabin-Italic.ttf);
}

@font-face {
  font-family: fuenteParrafos;
  src        : url(fuentes/FiraCode-Regular.otf);
}

nav,
header,
article {
  margin: 0 20%;
}

/* -- Header */
header {
  background-color: #dac5bc;
  font-size       : 3em;
  text-align      : center;
  padding         : 2rem;
  font-family     : fuenteTitulos;
}

/* -- Nav */
nav a:link {
  color: #dae8ec;
}

nav a:visited {
  color: #dac5bc;
}

nav a:focus {
  border: 1px dotted darkslategray;
}

nav a:hover {
  text-decoration: underline;
}

nav {
  background-color: #572313;
  color           : #dae8ec;
  font-family     : fuenteTitulos;
}

nav ul {
  margin         : 0;
  list-style-type: none;
}

/* -- Article */
h1,
h2 {
  color      : green;
  font-family: fuenteTitulos;
}

h1 {
  font-size  : 2em;
  margin     : 0;
  padding-top: 1em;
}

ol,
p {
  font-family: fuenteParrafos;
  font-size  : 20px;
}

p {
  color      : darkslategrey;
  line-height: 1.3em;
  /* 1em aprox es 16 px */
}

img {
  border: 2px solid green
}

.resaltar {
  /* font-style: italic;
  font-weight: bold; */
  color: rebeccapurple;
}

a {
  text-decoration: none;
}

article a:link {
  color: #b48464;
}

article a:visited {
  color: yellowgreen;
}

article a:focus {
  border: 1px dotted darkslategray;
}

article a:hover {
  text-decoration: underline;
}

article ul {
  list-style-type: square;
}

article ol {
  list-style-type: lower-roman;
}

article {
  /* border          : 5px solid brown; */
  padding         : 0 2em;
  background-color: #dae8ec;
  opacity         : 0.8;
}

.borderradius {
  border       : 2px solid #42352c;
  border-radius: 15px 0 30px 0;
}

.image {
  text-align: center;
}